Repository blotoutio/sdk-js: changes, and which Codecov flags are due for each by the changed paths.
All: sdk-core, sdk-personal

codecov.yml:

codecov:
  require_ci_to_pass: yes
  max_report_age: off
  notify:
    wait_for_ci: true

status:
  project:
    default: off
    sdk-core:
      flags: sdk-core
    sdk-personal:
      flags: sdk-personal

flags:
  sdk-core:
    paths:
      - packages/sdk-core
  sdk-personal:
    paths:
      - packages/sdk-personal

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: 'diff,flags,files'
  behavior: once
  require_changes: true

github_checks:
  annotations: true

Version bump 0.8.1
  packages/sdk-browser/package-lock.json
  packages/sdk-browser/package.json
  packages/sdk-core/package-lock.json
  packages/sdk-core/package.json
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
Due: sdk-core, sdk-personal

Fixes classname being object
  packages/sdk-browser/demo/src/components/systemEvents/index.jsx
  packages/sdk-core/src/event/utils.test.ts
  packages/sdk-core/src/event/utils.ts
Due: sdk-core

Updates deps
  package-lock.json
  package.json
Due: none

Prettier docs
  README.md
  docs/_includes/header.html
  docs/_layouts/default.html
  docs/_sass/minima/initialize.scss
  docs/assets/js/tabs.js
  docs/basic_apis.md
  docs/defined_events.md
  docs/index.md
  docs/integration.md
  docs/migration.md
  docs/system_events.md
Due: none

Adds custom events package
  .github/workflows/test.yml
  codecov.yml
  docs/_config.yml
  docs/basic_apis.md
  docs/defined_events.md
  lerna.json
  packages/sdk-browser/demo/src/components/mapID/index.jsx
  packages/sdk-browser/package.json
  packages/sdk-browser/src/index.js
  packages/sdk-core/src/common/config.ts
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-core/src/event/index.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/typings/index.d.ts
  packages/sdk-events/.eslintrc
  packages/sdk-events/.prettierignore
  packages/sdk-events/LICENSE
  packages/sdk-events/README.md
  packages/sdk-events/jest.config.js
  packages/sdk-events/package.json
  packages/sdk-events/rollup.config.js
  packages/sdk-events/src/constants.ts
  packages/sdk-events/src/events.test.ts
  packages/sdk-events/src/events.ts
  packages/sdk-events/src/index.test.ts
  packages/sdk-events/src/index.ts
  packages/sdk-events/src/typings/index.d.ts
  packages/sdk-events/tsconfig.json
Due: sdk-core

Lerna optimisations
  lerna.json
  package-lock.json
  package.json
  packages/sdk-browser/cypress/integration/general.spec.js
  packages/sdk-browser/package.json
  packages/sdk-core/package-lock.json
  packages/sdk-core/package.json
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-core/src/event/utils.test.ts
  packages/sdk-core/src/network/payload.test.ts
  packages/sdk-core/tsconfig.json
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
  packages/sdk-personal/src/index.test.ts
  packages/sdk-personal/tsconfig.json
  tsconfig.json
Due: sdk-core, sdk-personal

Adds migration instructions
  docs/migration.md
Due: none

Fixes npm audit
  package-lock.json
Due: none

Fixes actions
  .github/workflows/demo.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

Adds persona event
  docs/defined_events.md
  docs/integration.md
  packages/sdk-browser/cypress/integration/definedEvents.spec.js
  packages/sdk-browser/demo/src/components/definedEvents/index.jsx
  packages/sdk-browser/demo/src/components/definedEvents/persona.jsx
  packages/sdk-browser/src/index.js
  packages/sdk-events/src/constants.ts
  packages/sdk-events/src/events.ts
  packages/sdk-events/src/index.test.ts
  packages/sdk-events/src/index.ts
  packages/sdk-events/src/typings/index.d.ts
Due: none

Optimises event generation code
  packages/sdk-events/src/constants.ts
  packages/sdk-events/src/events.test.ts
  packages/sdk-events/src/events.ts
  packages/sdk-events/src/index.test.ts
  packages/sdk-events/src/index.ts
  packages/sdk-events/src/typings/index.d.ts
Due: none

Adds transaction event
  README.md
  docs/defined_events.md
  packages/sdk-browser/cypress/fixtures/common.js
  packages/sdk-browser/cypress/integration/definedEvents.spec.js
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-browser/cypress/integration/general.spec.js
  packages/sdk-browser/cypress/support/index.js
  packages/sdk-browser/demo/public/style.css
  packages/sdk-browser/demo/src/components/app/index.jsx
  packages/sdk-browser/demo/src/components/definedEvents/index.jsx
  packages/sdk-browser/demo/src/components/definedEvents/mapID.jsx
  packages/sdk-browser/demo/src/components/definedEvents/transaction.jsx
  packages/sdk-browser/demo/src/components/editor/index.jsx
  packages/sdk-browser/src/index.js
  packages/sdk-events/src/constants.ts
  packages/sdk-events/src/events.ts
  packages/sdk-events/src/index.test.ts
  packages/sdk-events/src/index.ts
  packages/sdk-events/src/typings/index.d.ts
Due: none

Adds item event
  docs/defined_events.md
  packages/sdk-browser/cypress/integration/definedEvents.spec.js
  packages/sdk-browser/demo/src/components/definedEvents/index.jsx
  packages/sdk-browser/demo/src/components/definedEvents/item.jsx
  packages/sdk-browser/src/index.js
  packages/sdk-events/src/constants.ts
  packages/sdk-events/src/events.ts
  packages/sdk-events/src/index.test.ts
  packages/sdk-events/src/index.ts
  packages/sdk-events/src/typings/index.d.ts
Due: none

Adds events package to integration docs
  docs/integration.md
Due: none

Version bump 0.9.0
  lerna.json
  packages/sdk-browser/package-lock.json
  packages/sdk-browser/package.json
  packages/sdk-core/package-lock.json
  packages/sdk-core/package.json
  packages/sdk-events/package-lock.json
  packages/sdk-events/package.json
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
Due: sdk-core, sdk-personal

Adds cache validator
  .github/workflows/demo.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

Lowers node min version from 14 to 12
  .github/workflows/coverage.yml
  .github/workflows/demo.yml
  .github/workflows/docs.yml
  .github/workflows/tests.yml
  package-lock.json
  packages/sdk-browser/package-lock.json
  packages/sdk-browser/package.json
  packages/sdk-core/package-lock.json
  packages/sdk-core/package.json
  packages/sdk-events/package-lock.json
  packages/sdk-events/package.json
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
Due: sdk-core, sdk-personal

Version bump 0.9.1
  packages/sdk-browser/package-lock.json
  packages/sdk-browser/package.json
  packages/sdk-core/package-lock.json
  packages/sdk-core/package.json
  packages/sdk-events/package-lock.json
  packages/sdk-events/package.json
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
Due: sdk-core, sdk-personal

Updates demo page blotout env
  packages/sdk-browser/cypress/fixtures/common.js
  packages/sdk-browser/demo/public/global.js
Due: none

Moves query params breakdown to server
  packages/sdk-browser/package-lock.json
  packages/sdk-core/src/common/utils.test.ts
  packages/sdk-core/src/common/utils.ts
  packages/sdk-core/src/network/payload.test.ts
  packages/sdk-core/src/typings/internal.d.ts
  packages/sdk-events/package-lock.json
  packages/sdk-personal/package-lock.json
Due: sdk-core, sdk-personal

Updates github actions cache
  .github/workflows/coverage.yml
  .github/workflows/demo.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

Update deps
  package-lock.json
  package.json
  packages/sdk-core/jest.config.js
  packages/sdk-core/package-lock.json
  packages/sdk-core/src/common/init.test.ts
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-core/src/network/index.test.ts
  packages/sdk-events/jest.config.js
  packages/sdk-personal/jest.config.js
Due: sdk-core, sdk-personal

Adds path to system events in additional data Resolves #100
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-core/src/event/index.ts
Due: sdk-core

Adds 1st party cookie
  packages/sdk-core/src/network/index.ts
Due: sdk-core

Adds migration path
  packages/sdk-browser/cypress/fixtures/common.js
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-browser/cypress/integration/general.spec.js
  packages/sdk-core/src/common/init.ts
  packages/sdk-core/src/common/uidUtil.test.ts
  packages/sdk-core/src/common/uidUtil.ts
  packages/sdk-core/src/common/utils.test.ts
  packages/sdk-core/src/common/utils.ts
  packages/sdk-core/src/event/utils.test.ts
  packages/sdk-core/src/event/utils.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/network/payload.test.ts
  packages/sdk-core/src/network/payload.ts
  packages/sdk-core/src/typings/index.d.ts
Due: sdk-core

Adds include for credentials
  packages/sdk-core/src/network/index.ts
Due: sdk-core

Adds logging api
  docs/basic_apis.md
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-browser/cypress/integration/general.spec.js
  packages/sdk-browser/demo/public/style.css
  packages/sdk-browser/demo/src/components/app/index.jsx
  packages/sdk-browser/demo/src/components/enable/index.jsx
  packages/sdk-browser/demo/src/components/settings/index.jsx
  packages/sdk-browser/src/index.js
  packages/sdk-core/src/common/config.ts
  packages/sdk-core/src/common/logUtil.test.ts
  packages/sdk-core/src/common/logUtil.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/typings/index.d.ts
Due: sdk-core

Removes evcs
  package-lock.json
  package.json
  packages/sdk-browser/cypress/integration/definedEvents.spec.js
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-core/package-lock.json
  packages/sdk-core/package.json
  packages/sdk-core/rollup.config.js
  packages/sdk-core/src/common/config.ts
  packages/sdk-core/src/common/securityUtil.test.ts
  packages/sdk-core/src/common/securityUtil.ts
  packages/sdk-core/src/event/create.test.ts
  packages/sdk-core/src/event/create.ts
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-core/src/event/index.ts
  packages/sdk-core/src/event/utils.test.ts
  packages/sdk-core/src/event/utils.ts
  packages/sdk-core/src/network/payload.test.ts
  packages/sdk-core/src/typings/index.d.ts
  packages/sdk-events/src/events.test.ts
  packages/sdk-events/src/index.test.ts
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
  packages/sdk-personal/src/index.test.ts
Due: sdk-core, sdk-personal

Removes UA parser
  packages/sdk-browser/cypress/fixtures/common.js
  packages/sdk-core/package-lock.json
  packages/sdk-core/package.json
  packages/sdk-core/rollup.config.js
  packages/sdk-core/src/event/index.ts
  packages/sdk-core/src/event/utils.test.ts
  packages/sdk-core/src/network/payload.test.ts
  packages/sdk-core/src/network/payload.ts
  packages/sdk-core/src/typings/internal.d.ts
Due: sdk-core

Removes evcs from evets lib
  packages/sdk-events/src/constants.ts
  packages/sdk-events/src/events.ts
  packages/sdk-events/src/typings/index.d.ts
Due: none

Upgrades cypress to fix CI
  package-lock.json
  package.json
  packages/sdk-browser/cypress.json
  packages/sdk-core/src/event/utils.test.ts
Due: sdk-core

Fixes release action
  .github/workflows/release.yml
  lerna.json
  packages/sdk-browser/package.json
  packages/sdk-core/package.json
  packages/sdk-events/package.json
  packages/sdk-personal/package.json
Due: sdk-core, sdk-personal

Fixes bootstrap command
  .github/workflows/release.yml
Due: none

Adds install to release action
  .github/workflows/release.yml
Due: none

Publish from git
  .github/workflows/release.yml
Due: none

Adds tag fetch
  .github/workflows/release.yml
Due: none

Accept all promps in release
  .github/workflows/release.yml
Due: none

Adds npm token to npmrc
  .github/workflows/release.yml
Due: none

Do not check npm link while publishing
  .github/workflows/release.yml
Due: none

Version bump 0.10.0
  lerna.json
  packages/sdk-browser/package.json
  packages/sdk-core/package.json
  packages/sdk-events/package.json
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
Due: sdk-core, sdk-personal
