Repository blotoutio/sdk-js: changes, and which Codecov flags are due for each by the changed paths.
All: sdk-core, sdk-personal

codecov.yml:

codecov:
  require_ci_to_pass: yes
  max_report_age: off
  notify:
    wait_for_ci: true

status:
  project:
    default: off
    sdk-core:
      flags: sdk-core
    sdk-personal:
      flags: sdk-personal

flags:
  sdk-core:
    paths:
      - packages/sdk-core
  sdk-personal:
    paths:
      - packages/sdk-personal

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: 'diff,flags,files'
  behavior: once
  require_changes: true

github_checks:
  annotations: true

Fixes codecov tag
  README.md
Due: none

Fixes jsdemo
  .github/workflows/demo.yml
  codecov.yml
  packages/sdk-browser/package.json
  packages/sdk-browser/rollup.config.js
Due: none

Updates publish method
  .github/workflows/demo.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  packages/sdk-browser/package-lock.json
  packages/sdk-browser/package.json
  packages/sdk-core/package-lock.json
  packages/sdk-core/package.json
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
Due: sdk-core, sdk-personal

Version bump to 0.6.1
  packages/sdk-browser/package-lock.json
  packages/sdk-browser/package.json
  packages/sdk-core/package-lock.json
  packages/sdk-core/package.json
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
Due: sdk-core, sdk-personal

Updates deps
  packages/sdk-browser/package-lock.json
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
Due: sdk-personal

Updates docs with npm version
  .github/workflows/comment_demo.md
  .github/workflows/comment_docs.md
  .github/workflows/docs.yml
  .gitignore
  docs/.gitignore
  docs/.vercelignore
  docs/404.html
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/_includes/footer.html
  docs/_sass/minima/initialize.scss
  docs/_sass/minima/tabs.scss
  docs/api.md
  docs/assets/js/tabs.js
  docs/integration.md
  docs/migration.md
  docs/vercel.json
Due: none

Adds old url to pageView
  .github/workflows/test.yml
  docs/api.md
  packages/sdk-browser/src/index.js
  packages/sdk-core/src/event/create.test.ts
  packages/sdk-core/src/event/create.ts
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-core/src/event/index.ts
  packages/sdk-core/src/event/utils.test.ts
  packages/sdk-core/src/event/utils.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/typings/index.d.ts
  packages/sdk-personal/src/index.ts
Due: sdk-core, sdk-personal

Fixes monorepo structure
  .gitignore
  .prettierrc.json
  packages/sdk-browser/.gitignore
  packages/sdk-browser/package-lock.json
  packages/sdk-browser/package.json
  packages/sdk-browser/rollup.config.js
  packages/sdk-core/.gitignore
  packages/sdk-core/.prettierrc.json
  packages/sdk-core/package-lock.json
  packages/sdk-core/package.json
  packages/sdk-core/tsconfig.json
  packages/sdk-personal/.gitignore
  packages/sdk-personal/.prettierrc.json
  packages/sdk-personal/jest.config.js
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
  packages/sdk-personal/tsconfig.json
  tsconfig.json
Due: sdk-core, sdk-personal

Adds lerna
  .github/workflows/demo.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  lerna.json
  package-lock.json
  package.json
  packages/sdk-browser/.prettierignore
  packages/sdk-browser/demo/index.html
  packages/sdk-browser/package-lock.json
  packages/sdk-browser/package.json
  packages/sdk-browser/rollup.config.js
  packages/sdk-core/.prettierignore
  packages/sdk-core/package-lock.json
  packages/sdk-core/package.json
  packages/sdk-personal/.prettierignore
  packages/sdk-personal/jest.config.js
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
  packages/sdk-personal/tsconfig.json
Due: sdk-core, sdk-personal

Adds detailed view for events page
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-browser/cypress/integration/general.spec.js
  packages/sdk-browser/demo/index.html
  packages/sdk-browser/demo/public/favicon.png
  packages/sdk-browser/demo/public/global.js
  packages/sdk-browser/demo/public/index.html
  packages/sdk-browser/demo/public/new_page.html
  packages/sdk-browser/demo/public/style.css
  packages/sdk-browser/demo/src/components/app/index.jsx
  packages/sdk-browser/demo/src/components/event/index.jsx
  packages/sdk-browser/demo/src/components/mapID/index.jsx
  packages/sdk-browser/demo/src/components/pageView/index.jsx
  packages/sdk-browser/demo/src/components/personal/index.jsx
  packages/sdk-browser/demo/src/components/userID/index.jsx
  packages/sdk-browser/demo/src/index.jsx
  packages/sdk-browser/demo/style.css
  packages/sdk-browser/package-lock.json
  packages/sdk-browser/package.json
  packages/sdk-browser/rollup.config.js
  packages/sdk-core/package-lock.json
  packages/sdk-personal/package-lock.json
Due: sdk-core, sdk-personal

Fixed mid uniquness
  package.json
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-browser/cypress/support/index.js
  packages/sdk-browser/demo/public/style.css
  packages/sdk-core/package.json
  packages/sdk-core/src/common/utils.test.ts
  packages/sdk-core/src/common/utils.ts
  packages/sdk-core/src/event/create.test.ts
  packages/sdk-core/src/event/create.ts
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-personal/package.json
  packages/sdk-personal/src/index.test.ts
Due: sdk-core, sdk-personal

Fixes user time created
  packages/sdk-core/package.json
  packages/sdk-core/src/common/utils.test.ts
  packages/sdk-core/src/common/utils.ts
  packages/sdk-core/src/event/create.test.ts
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-core/src/event/utils.test.ts
  packages/sdk-core/src/network/payload.test.ts
  packages/sdk-core/src/network/payload.ts
  packages/sdk-personal/package.json
Due: sdk-core, sdk-personal

Adds visibitily change flow
  .github/workflows/comment_docs.md
  docs/api.md
  docs/system_events.md
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-core/src/common/config.ts
  packages/sdk-core/src/common/utils.test.ts
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-core/src/event/index.ts
  packages/sdk-core/src/event/system/index.test.ts
  packages/sdk-core/src/event/system/index.ts
  packages/sdk-core/src/event/system/window.test.ts
  packages/sdk-core/src/event/system/window.ts
  packages/sdk-core/src/event/utils.test.ts
Due: sdk-core

Fixes secuirty issue
  docs/Gemfile
  docs/Gemfile.lock
Due: none

Updates download links
  docs/integration.md
Due: none

Removes dplatform
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-core/src/event/utils.test.ts
  packages/sdk-core/src/network/payload.test.ts
  packages/sdk-core/src/network/payload.ts
  packages/sdk-core/src/typings/internal.d.ts
Due: sdk-core

Adds type to event payload
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-core/src/event/index.ts
  packages/sdk-core/src/event/utils.test.ts
  packages/sdk-core/src/event/utils.ts
  packages/sdk-core/src/network/payload.test.ts
  packages/sdk-core/src/typings/index.d.ts
  packages/sdk-personal/src/index.test.ts
  packages/sdk-personal/src/index.ts
Due: sdk-core, sdk-personal

System events clean up
  packages/sdk-core/src/common/config.ts
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-core/src/event/system/index.test.ts
  packages/sdk-core/src/event/system/index.ts
  packages/sdk-core/src/event/system/window.test.ts
  packages/sdk-core/src/event/system/window.ts
Due: sdk-core

Payload unification
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-core/src/common/init.test.ts
  packages/sdk-core/src/common/init.ts
  packages/sdk-core/src/event/create.test.ts
  packages/sdk-core/src/event/create.ts
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-core/src/event/index.ts
  packages/sdk-core/src/event/system/clipboard.test.ts
  packages/sdk-core/src/event/system/clipboard.ts
  packages/sdk-core/src/event/system/dragdrop.test.ts
  packages/sdk-core/src/event/system/dragdrop.ts
  packages/sdk-core/src/event/system/focus.test.ts
  packages/sdk-core/src/event/system/focus.ts
  packages/sdk-core/src/event/system/form.test.ts
  packages/sdk-core/src/event/system/form.ts
  packages/sdk-core/src/event/system/hash.test.ts
  packages/sdk-core/src/event/system/hash.ts
  packages/sdk-core/src/event/system/keyboard.test.ts
  packages/sdk-core/src/event/system/keyboard.ts
  packages/sdk-core/src/event/system/mouse.test.ts
  packages/sdk-core/src/event/system/mouse.ts
  packages/sdk-core/src/event/system/network.test.ts
  packages/sdk-core/src/event/system/network.ts
  packages/sdk-core/src/event/system/print.test.ts
  packages/sdk-core/src/event/system/print.ts
  packages/sdk-core/src/event/system/resource.test.ts
  packages/sdk-core/src/event/system/resource.ts
  packages/sdk-core/src/event/system/touch.test.ts
  packages/sdk-core/src/event/system/touch.ts
  packages/sdk-core/src/event/system/window.test.ts
  packages/sdk-core/src/event/system/window.ts
  packages/sdk-core/src/event/utils.test.ts
  packages/sdk-core/src/event/utils.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/network/payload.test.ts
  packages/sdk-core/src/typings/index.d.ts
  packages/sdk-personal/src/index.test.ts
  packages/sdk-personal/src/index.ts
  packages/sdk-personal/src/typings/internal.d.ts
Due: sdk-core, sdk-personal

Version bump to 0.7.0
  packages/sdk-browser/package-lock.json
  packages/sdk-browser/package.json
  packages/sdk-core/package-lock.json
  packages/sdk-core/package.json
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
Due: sdk-core, sdk-personal

Do not sent personal event if key is missing
  packages/sdk-browser/package-lock.json
  packages/sdk-browser/package.json
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
  packages/sdk-personal/src/index.test.ts
  packages/sdk-personal/src/index.ts
  packages/sdk-personal/src/security.test.ts
  packages/sdk-personal/src/security.ts
  packages/sdk-personal/src/typings/jest.d.ts
Due: sdk-personal

Adds enable API
  docs/api.md
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-browser/cypress/integration/general.spec.js
  packages/sdk-browser/demo/public/style.css
  packages/sdk-browser/demo/src/components/app/index.jsx
  packages/sdk-browser/demo/src/components/enable/index.jsx
  packages/sdk-browser/rollup.config.js
  packages/sdk-browser/src/index.js
  packages/sdk-core/src/common/enabled.test.ts
  packages/sdk-core/src/common/enabled.ts
  packages/sdk-core/src/common/init.test.ts
  packages/sdk-core/src/common/init.ts
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-core/src/event/index.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/typings/index.d.ts
  packages/sdk-core/src/typings/internal.d.ts
Due: sdk-core

Adds additional data to pageView
  docs/api.md
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-browser/demo/src/components/event/index.jsx
  packages/sdk-browser/demo/src/components/mapID/index.jsx
  packages/sdk-browser/demo/src/components/pageView/index.jsx
  packages/sdk-browser/demo/src/components/personal/index.jsx
  packages/sdk-browser/src/index.js
  packages/sdk-core/src/event/index.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/typings/index.d.ts
Due: sdk-core

Adds new API for event data
  README.md
  docs/_includes/header.html
  docs/api.md
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-browser/cypress/integration/general.spec.js
  packages/sdk-browser/demo/public/index.html
  packages/sdk-browser/demo/public/new_page.html
  packages/sdk-browser/demo/public/style.css
  packages/sdk-browser/demo/src/components/app/index.jsx
  packages/sdk-browser/demo/src/components/defaultEventData/index.jsx
  packages/sdk-browser/demo/src/components/editor/index.jsx
  packages/sdk-browser/demo/src/components/event/index.jsx
  packages/sdk-browser/demo/src/components/mapID/index.jsx
  packages/sdk-browser/demo/src/components/pageView/index.jsx
  packages/sdk-browser/demo/src/components/personal/index.jsx
  packages/sdk-browser/package-lock.json
  packages/sdk-browser/rollup.config.js
  packages/sdk-browser/src/index.js
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-core/src/event/index.ts
  packages/sdk-core/src/event/utils.test.ts
  packages/sdk-core/src/event/utils.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/network/retries.ts
  packages/sdk-core/src/storage/utils.test.ts
  packages/sdk-core/src/storage/utils.ts
  packages/sdk-core/src/typings/index.d.ts
  packages/sdk-core/src/typings/internal.d.ts
Due: sdk-core

Lowers node version to 14
  packages/sdk-browser/package.json
  packages/sdk-core/package.json
  packages/sdk-personal/package.json
Due: sdk-core, sdk-personal

Applies manifest changes Resolves #51
  packages/sdk-core/src/common/manifest.test.ts
  packages/sdk-core/src/common/manifest.ts
  packages/sdk-core/src/event/utils.test.ts
  packages/sdk-core/src/network/endPoint.ts
  packages/sdk-core/src/network/payload.test.ts
  packages/sdk-core/src/network/payload.ts
  packages/sdk-core/src/typings/index.d.ts
Due: sdk-core

Removed bundleId from payload
  docs/api.md
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-browser/demo/public/global.js
  packages/sdk-core/src/common/domainUtil.test.ts
  packages/sdk-core/src/common/domainUtil.ts
  packages/sdk-core/src/common/init.test.ts
  packages/sdk-core/src/common/init.ts
  packages/sdk-core/src/common/manifest.ts
  packages/sdk-core/src/common/utils.ts
  packages/sdk-core/src/network/payload.ts
  packages/sdk-core/src/typings/index.d.ts
Due: sdk-core

Fixes potential user id null
  packages/sdk-core/src/common/uidUtil.test.ts
  packages/sdk-core/src/common/uidUtil.ts
  packages/sdk-core/src/event/utils.test.ts
Due: sdk-core

Update personal API
  docs/api.md
  packages/sdk-browser/src/index.js
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/typings/index.d.ts
  packages/sdk-personal/src/index.test.ts
  packages/sdk-personal/src/index.ts
  packages/sdk-personal/src/typings/index.d.ts
Due: sdk-core, sdk-personal

Removes appn
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-core/src/common/utils.ts
  packages/sdk-core/src/event/utils.test.ts
  packages/sdk-core/src/network/payload.test.ts
  packages/sdk-core/src/network/payload.ts
  packages/sdk-core/src/typings/internal.d.ts
Due: sdk-core

Adds new system events
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-browser/demo/public/global.js
  packages/sdk-core/src/common/init.ts
  packages/sdk-core/src/common/manifest.test.ts
  packages/sdk-core/src/common/manifest.ts
  packages/sdk-core/src/event/system/clipboard.test.ts
  packages/sdk-core/src/event/system/clipboard.ts
  packages/sdk-core/src/event/system/dragdrop.test.ts
  packages/sdk-core/src/event/system/dragdrop.ts
  packages/sdk-core/src/event/system/events.test.ts
  packages/sdk-core/src/event/system/events.ts
  packages/sdk-core/src/event/system/focus.test.ts
  packages/sdk-core/src/event/system/focus.ts
  packages/sdk-core/src/event/system/form.test.ts
  packages/sdk-core/src/event/system/form.ts
  packages/sdk-core/src/event/system/hash.test.ts
  packages/sdk-core/src/event/system/hash.ts
  packages/sdk-core/src/event/system/index.test.ts
  packages/sdk-core/src/event/system/index.ts
  packages/sdk-core/src/event/system/keyboard.test.ts
  packages/sdk-core/src/event/system/keyboard.ts
  packages/sdk-core/src/event/system/mouse.test.ts
  packages/sdk-core/src/event/system/mouse.ts
  packages/sdk-core/src/event/system/network.test.ts
  packages/sdk-core/src/event/system/network.ts
  packages/sdk-core/src/event/system/print.test.ts
  packages/sdk-core/src/event/system/print.ts
  packages/sdk-core/src/event/system/resource.test.ts
  packages/sdk-core/src/event/system/resource.ts
  packages/sdk-core/src/event/system/touch.test.ts
  packages/sdk-core/src/event/system/touch.ts
  packages/sdk-core/src/event/system/visibility.test.ts
  packages/sdk-core/src/event/system/visibility.ts
  packages/sdk-core/src/event/utils.test.ts
  packages/sdk-core/src/event/utils.ts
  packages/sdk-core/src/network/payload.test.ts
  packages/sdk-core/src/typings/index.d.ts
  packages/sdk-core/src/typings/internal.d.ts
Due: sdk-core

Update README.md
  README.md
Due: none

Adds beacon to click
  packages/sdk-core/src/event/system/events.test.ts
  packages/sdk-core/src/event/system/events.ts
  packages/sdk-core/src/event/system/index.test.ts
Due: sdk-core

added page title in meta
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-core/src/event/utils.test.ts
  packages/sdk-core/src/network/payload.test.ts
  packages/sdk-core/src/network/payload.ts
  packages/sdk-core/src/typings/internal.d.ts
Due: sdk-core

Removes high frequency events limit
  packages/sdk-core/src/common/config.test.ts
  packages/sdk-core/src/common/config.ts
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-core/src/event/index.ts
Due: sdk-core

Fixes object title
  packages/sdk-browser/cypress/integration/event.spec.js
  packages/sdk-browser/demo/public/global.js
  packages/sdk-browser/demo/src/components/app/index.jsx
  packages/sdk-browser/demo/src/components/systemEvents/index.jsx
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-core/src/event/index.ts
  packages/sdk-core/src/event/system/events.ts
  packages/sdk-core/src/event/utils.test.ts
  packages/sdk-core/src/event/utils.ts
Due: sdk-core

Version bump 0.8
  packages/sdk-browser/package-lock.json
  packages/sdk-browser/package.json
  packages/sdk-core/package-lock.json
  packages/sdk-core/package.json
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
Due: sdk-core, sdk-personal

Fixes visibility events
  packages/sdk-core/src/common/config.ts
  packages/sdk-core/src/event/index.test.ts
  packages/sdk-core/src/event/index.ts
Due: sdk-core
