Repository blotoutio/sdk-js: changes, and which Codecov flags are due for each by the changed paths.
All: sdk-core, sdk-personal, sdk-events

Adds uuid to deps for sdk-core and sdk-personal
  package-lock.json
  package.json
  packages/sdk-browser/package-lock.json
  packages/sdk-browser/package.json
  packages/sdk-core/package-lock.json
  packages/sdk-core/package.json
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
Due: sdk-core, sdk-personal

Fixes version bump failing tests
  packages/sdk-browser/cypress/fixtures/common.js
Due: none

Version bump 0.10.1
  lerna.json
  packages/sdk-browser/package-lock.json
  packages/sdk-browser/package.json
  packages/sdk-core/package-lock.json
  packages/sdk-core/package.json
  packages/sdk-events/package.json
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
Due: sdk-core, sdk-personal, sdk-events

Updates package sizes
  docs/integration.md
Due: none

Fixes link on integration page
  docs/integration.md
Due: none

Update logo
  docs/assets/images/favicon.png
  docs/assets/images/logo.svg
Due: none

Removes session break
  package-lock.json
  packages/sdk-core/src/storage/index.test.ts
  packages/sdk-core/src/storage/index.ts
Due: sdk-core

Version bump 0.10.2
  lerna.json
  packages/sdk-browser/package-lock.json
  packages/sdk-browser/package.json
  packages/sdk-core/package-lock.json
  packages/sdk-core/package.json
  packages/sdk-events/package.json
  packages/sdk-personal/package-lock.json
  packages/sdk-personal/package.json
Due: sdk-core, sdk-personal, sdk-events

Path conditions:
  sdk-core: any of: packages/sdk-core
  sdk-personal: any of: packages/sdk-personal
  sdk-events: any of: packages/sdk-events
